body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 80px;
    background-color: #6666ff;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

    .sidebar button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #555;
        border: none;
        color: white;
        text-align: left;
        cursor: pointer;
    }

        .sidebar button:hover {
            background-color: #777;
        }

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 80px; /* 侧边栏宽度 */
}

.top-bar {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 80px; /* 侧边栏宽度 */
    right: 0;
    z-index: 1000; /* 确保顶部栏在内容之上 */
}

    .top-bar button {
        background-color: #555;
        border: none;
        color: white;
        padding: 8px 12px;
        cursor: pointer;
    }

        .top-bar button:hover {
            background-color: #777;
        }

    .top-bar .user-info {
        display: flex;
        align-items: center;
    }

        .top-bar .user-info img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 50px; /* 顶部栏高度 */
}

.main {
    width: 60%;
    margin: auto;
}

table {
    width: 100%; /* 表格宽度 */
    border-collapse: collapse; /* 合并边框 */
    margin: 30px 0; /* 表格上下外边距 */
}

th, td {
    border: 1px solid #dddddd; /* 单元格边框 */
    text-align: left; /* 单元格文本左对齐 */
    padding: 8px; /* 单元格内边距 */
}

th {
    background-color: #f2f2f2; /* 表头背景颜色 */
}
